{% extends 'base.html' %}
{% block con %}

<div class="a" style="color: white; padding-top: 50px;">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="container mt-5">
            <h1><b>File Upload</b></h1>

            <input type="text" name="pro" placeholder="프로젝트 이름" class="form-control mt-3">
            <input type="text" class="form-control mt-2"  name ="con" placeholder="주석"><br>
            <div class="text-end mt-4">
                <button class="btn btn-outline-light" type="button" onclick="makesel()">File ADD</button>
                <button class="btn btn-outline-light">File Upload</button>
            </div>
            <div id="here" class="row mt-5">

            </div>
          
        </div>
    </form>
</div>

<script>
    function makesel(){
        d = document.getElementById("here");
        n = document.createElement("div");
        n.setAttribute("class", "col-lg-4 mt-5");
        n.innerHTML = '<input type="file" name="cfile" class="form-control mt-3 mb-3">\
        <textarea placeholder="주석" name="ccon" class="form-control"></textarea>';
        d.appendChild(n);
    }
</script>
{% endblock %}